<template>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <center>
                    <div class="card-header">Register new member</div>
                </center>

                <form @submit.prevent="register">
                    <!-- <label for="fname">First Name</label> -->
                    <input required v-model="formData.fname" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" type="text" id="fname" name="fname" placeholder="First Name..">
                    <input required v-model="formData.lname" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" type="text" id="lname" name="lname" placeholder="Last Name..">

                    <label for="group">Gender</label>
                    <select required v-model="formData.gender" id="gender" name="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>

                    </select><br>

                    <input required type="date" v-model="formData.dateOfBirth">
                    <input required v-model="formData.phone" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="13" id="phone" name="phone" placeholder="Phone Number...">
                    <input required v-model="formData.email" type="email" id="email" name="email" placeholder="Email.."><br>
                    <input required v-model="formData.district" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" type="text" id="district" name="district" placeholder="District..">
                    <label for="group">Title</label>
                    <select required v-model="formData.group" id="group" name="group">
                        <option v-for="group in groups" :key="group.id" v-bind:value="group.name">{{group.name}}</option>

                    </select><br>
                    <label for="fname">Upload profile picture (passport size) </label>
                    <input required type="file" id="image" name="image" ref="file" @change="handleFileObject()">

                    <textarea required rows="20" cols="80" v-model="formData.testimony" type="text" id="testimony" name="testimony" placeholder="Testimony.."> </textarea>

                    <button class="submitbtn" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            groups: {},
            //   image:''

            formData: {
                fname: null,
                lname: null,
                date: null,
                phone: null,
                email: null,
                group: null,
                district: null,
                testimony: null,
            },
            image: null,

        }
    },
    mounted() {
        // const token = 'Bearer  ' + localStorage.getItem('token');
        console.log()
        let uri = 'api/grouplist';
        this.axios.get(uri, ).then(response => {
            this.groups = response.data.list;

        }).catch(error => {
            (error)
            this.$notify({
                group: 'foo',
                text: 'Could not load data in the table',
                type: 'error',
                title: 'Error'
            });
        });
    },
    methods: {
        handleFileObject() {
            this.image = this.$refs.file.files[0]
            // this.avatarName = this.avatar.name
        },
        register() {
            loadbutton();
            
            let formData = new FormData()
            formData.append('image', this.image)
            _.each(this.formData, (value, key) => {
                formData.append(key, value)
            })

            const token = 'Bearer  ' + localStorage.getItem('token');
            let uri = 'api/register';
            this.axios.post(uri, formData, {
                headers: {
                    Authorization: token,
                    'Content-Type': "multipart/form-data; charset=utf-8; boundary=" + Math.random().toString().substr(2)
                }
            }).then((response) => {
                stopbutton();
                if (response.data.status) {
                    this.$notify({
                        group: 'foo',
                        text: response.data.message,
                        type: 'success',
                        title: 'Success!'
                    });
                    this.formData = {
                        fname: '',
                        lname: '',
                        dateOfBirth: '',
                        phone: '',
                        email: '',
                        group: '',
                        district: '',
                        testimony: '',
                        image: ''
                    };

                }
            }).catch(error => {
                if (error.response.status === 401) {
                    this.$router.push({
                        name: 'register'
                    });
                    clearSession();
                } else {
                    this.$notify({
                        group: 'foo',
                        text: 'The Email is already registered',
                        type: 'error',
                        title: 'Error'
                    });
                    stopbutton();
                    // this.$router.push({name: 'members'});
                }
            });
        }
    }

}
</script>

<style scoped>
input[type=text],
input[type=email],
input[type=file],
input[type=date],
textarea[type=text],
button,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
</style>
