<template>
<div class="container mt-5">
    <center>
        <h2>Couples in church | <router-link :to="{name: 'regCouples'}"><u><b>Add new</b></u></router-link></h2>
        <br><br>
        <table>
            <tr>
                <th>#</th>
                <th>Husband Name</th>
                <th>Wife Name</th>
                <!-- <th></th>
                <th></th>
                <th>hphoto</th> -->
               
            </tr>
            <tr v-for="(user,index) in data" :key="user.id">
                <td>{{index + 1}}</td>
                <td><img :src="'/storage'+user.himage" width="80px" height="80px" alt="Not Uploaded"/> {{user.hfname}} {{user.hlname}}</td>
                <td><img :src="'/storage'+user.wimage" width="80px" height="80px" alt="Not Uploaded"/>{{user.wfname}} {{user.wlname}}</td>
                <td></td>

                <!-- <td>
                    <router-link :to="{name: 'viewuser', params: { id: user.id }}" class="btn btn-primary">View</router-link>
                </td>
                <td><button class="btn btn-danger" @click.prevent="deleteuser(user.id)">Delete</button></td> -->
            </tr>

        </table>
    </center>

</div>
</template>

<script>
export default {
    data() {
        return {
            data: [],
            result2: [],
            message: {},
            isShowing:false
        }
    },
    mounted() {
        this.loaddata();
    },
    created() {
          this.result2 = this.data;
    },
    methods: {
        loaddata() {
            const token = 'Bearer  ' + localStorage.getItem('token');
            let uri = '/api/allcouples';
            this.axios.get(uri, {
                headers: {
                    Authorization: token
                }
            }).then(response => {
                this.data = response.data.list;

            }).catch(error => {
                if (error.response.status === 401) {
                    this.$router.push({
                        name: 'login'
                    });
                    // clearSession();
                } else {
                    this.$notify({
                        group: 'foo',
                        text: 'Could not load data in the table',
                        type: 'error',
                        title: 'Error'
                    });
                }
            });
        },
        deleteuser(id) {
            const token = 'Bearer  ' + localStorage.getItem('token');
            let uri = `api/member/delete/${id}`;
            this.axios.delete(uri, {
                headers: {
                    Authorization: token
                }
            }).then(response => {
                // this.data.splice(this.data, 1);
                this.$notify({
                    group: 'foo',
                    text: response.data.message,
                    type: 'success',
                    title: 'Success!'
                })
                this.loaddata();
            });

        },
    filter() {
      let filterval = this.message.filterval;
      if (filterval === "" || filterval === null) {
        this.data = this.result2;
      } else {
        let data = this.result2.filter(function (product) {
          return (
            product.fname.toLowerCase().includes(filterval.toLowerCase()) ||
            product.lname.toLowerCase().includes(filterval.toLowerCase()) ||
            product.phone.toLowerCase().includes(filterval.toLowerCase()) ||
            product.email.toLowerCase().includes(filterval.toLowerCase()) ||
            product.group.toLowerCase().includes(filterval.toLowerCase())
          );
        }); //which objects do yoi want to filer with?title and intro//lipua tuone
        this.data = data;
      }
      //  return true
    }
    },
}
</script>

<style scoped>
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
img{
border-radius: 100%;
}

tr:hover {
    background-color: #f5f5f5;
}
input[type=text]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
</style>
