<template>
<div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols1 md:gap-6">
        <div class="mt-5 md:mt-0 md:col-span-2">
            Enter your details in the fields provided
            <form @submit.prevent="register">
                <div class="shadow overflow-hidden sm:rounded-md">
                    <div class="px-4 py-5 bg-white sm:p-6">
                        <div class="grid grid-cols-6 gap-6">

                            <div class="col-span-6 sm:col-span-3">
                                <b>Husband Details</b><br><br>
                                <label for="first_name" class="block text-sm font-medium text-gray-700">First name</label>
                                <input type="text" required v-model="formData.hfname" name="hfname" id="hfname" autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">

                                <label for="first_name" class="block text-sm font-medium text-gray-700">Last name</label>
                                <input type="text" required v-model="formData.hlname" name="hlname" id="hlname" autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">

                                <label for="first_name" class="block text-sm font-medium text-gray-700">Email</label>
                                <input type="email" required v-model="formData.hemail" name="hemail" id="hemail" autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">

                                <label for="first_name" class="block text-sm font-medium text-gray-700">Upload Image (passport size)</label>
                                <input type="file" id="himage" name="himage" ref="file" @change="handleFileObject" autocomplete="given-name" class="mt-1  focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>

                            <div class="col-span-6 sm:col-span-3">
                                <b>Wife Details</b><br><br>
                                <label for="first_name" class="block text-sm font-medium text-gray-700">First name</label>
                                <input type="text" required v-model="formData.wfname" name="wfname" id="wfname" autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">

                                <label for="first_name" class="block text-sm font-medium text-gray-700">Last name</label>
                                <input type="text" required v-model="formData.wlname" name="wlname" id="wlname" autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">

                                <label for="first_name" class="block text-sm font-medium text-gray-700">Email</label>
                                <input type="email" required v-model="formData.wemail" name="wemail" id="wemail" autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">

                                <label for="first_name" class="block text-sm font-medium text-gray-700">Upload Image (passport size)</label>
                                <input type="file" id="wimage" name="wimage" ref="file" @change="handleFileImage" autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>

                        </div>
                    </div>
                    <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                        <button type="submit" class="submitbtn inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            groups: {},
            //   image:''

            formData: {
                hfname: null,
                hlname: null,
                hemail: null,
                wfname: null,
                wlname: null,
                wemail: null,
            },
            himage: null,
            wimage: null,

        }
    },
    mounted() {
        // const token = 'Bearer  ' + localStorage.getItem('token');

        let uri = 'api/grouplist';
        this.axios.get(uri, ).then(response => {
            this.groups = response.data.list;

        }).catch(error => {
            (error)
            this.$notify({
                group: 'foo',
                text: 'Could not load data in the table',
                type: 'error',
                title: 'Error'
            });
        });
    },
    methods: {
        handleFileObject(e) {
            this.himage = e.target.files[0];
        },
        handleFileImage(e) {
            this.wimage = e.target.files[0];
        },
        register() {
            loadbutton();
            let formData = new FormData()

            formData.append('himage', this.himage);
            formData.append('wimage', this.wimage)
            _.each(this.formData, (value, key) => {
                formData.append(key, value)
            })

            console.log('data reached this point')
            const token = 'Bearer  ' + localStorage.getItem('token');
            let uri = '/api/regcouple';
            this.axios.post(uri, formData, {
                headers: {
                    Authorization: token,
                    'Content-Type': "multipart/form-data; charset=utf-8; boundary=" + Math.random().toString().substr(2)
                }
            }).then((response) => {
                stopbutton();
                if (response.data.status) {
                    this.$notify({
                        group: 'foo',
                        text: response.data.message,
                        type: 'success',
                        title: 'Success!'
                    });
                    this.formData = {
                        hfname: '',
                        hlname: '',
                        hemail: '',
                        himage:'',
                        wfname: '',
                        wlname: '',
                        wemail: '',
                        wimage:'',
                    };

                }
            }).catch(error => {
                if (error.response.status === 401) {
                    this.$router.push({
                        name: 'regCouples'
                    });
                    clearSession();
                } else {
                    this.$notify({
                        group: 'foo',
                        text: 'The Email is already registered',
                        type: 'error',
                        title: 'Error'
                    });
                    
                    stopbutton();
                    // this.$router.push({name: 'members'});
                }
            });
        }
    }

}
</script>
