<template>
<div><br><br>
    View Single User Details <br><br>
    <img :src="'/storage/'+info.image" width="200" height="200" alt="Image loading..." /><br><br><br>

    <b>Name :</b> {{info.fname}} {{info.lname}} <br>
    <b>Group :</b> {{info.group}}<br>
    <b>Gender :</b> {{info.gender}}<br>
    <b>Age :</b> {{age}}<br>
    <b>Phone No :</b> {{info.phone}}<br>
    <b>District :</b> {{info.district}}<br>
    <b>Email :</b> {{info.email}}<br><br><br>

    <b>
        <p>Testimony :</p>
    </b>
    <textarea style="border: none" name="testimony" readonly id="" rows="20" cols="100" v-model="info.testimony"></textarea><br>

</div>
</template>

<script>
const moment = require('moment');
export default {

    data() {
        return {
            info: {},
            age: ''
        }
    },
    created() {
        const token = 'Bearer  ' + localStorage.getItem('token');
        let uri = `/api/viewuser/${this.$route.params.id}`;
        this.axios.get(uri, {
            headers: {
                Authorization: token
            }
        }).then((response) => {
            if (response.data) {
                this.info = response.data.user;
            }
            
            var birth_date = this.info.dateOfBirth; //getting date from api
            var current_date = new Date().toJSON().slice(0, 10); //getting current date
           
            //getting age using moment
            const dateC = moment(birth_date);
            const dateB = moment(current_date);
            this.age = (`${dateB.diff(dateC, 'years')}`);

        }).catch(error => {
            (error)
            this.$notify({
                group: 'foo',
                text: 'Login to access this page',
                type: 'error',
                title: 'Error'
            });

            this.$router.push({
                name: 'login'
            });
            this.$router.go();
        });
    }
}
</script>

<style scoped>
img {
    border-radius: 100%;
}

textarea {
    padding: 7px;
}
</style>
