// CreatePost.vue

<template>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <center>
                    <div class="card-header">Edit Group</div>
                </center>

                <form @submit.prevent="updateGroup">
                    <!-- <label for="fname">First Name</label> -->
                    <input required v-model="info.name" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" type="text" id="name" name="name" placeholder="Enter Group name">

                    <button class="submitbtn" type="submit">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {

    data() {
        return {
            info: {}
        }
    },
    created() {
        const token = 'Bearer  ' + localStorage.getItem('token');
        let uri = `/api/editgroup/${this.$route.params.id}`;
        this.axios.get(uri, {
            headers: {
                Authorization: token
            }
        }).then((response) => {
            if (response.data) {
                this.info = response.data.group;
            }

        }).catch(error => {
            (error)
            this.$notify({
                group: 'foo',
                text: 'Login to access this page',
                type: 'error',
                title: 'Error'
            });

            this.$router.push({
                name: 'login'
            });
            this.$router.go();
        });
    },
    methods: {
           updateGroup() {
           loadbutton();
           const token = 'Bearer  ' + localStorage.getItem('token');
           let uri = `/api/group/update/${this.$route.params.id}`;
          this.axios.put(uri, this.info, {
                headers: {
                    Authorization: token,
                }
            }).then((response) => {
          if(response.data.status){
            this.$notify({
                        group: 'foo',
                        text: 'The group is updated',
                        type: 'success',
                        title: 'Success!'
                    });
                    stopbutton();
            this.$router.push({name: 'viewgroup'});
          }
          }).catch(error=>{
            alert('There was an error while updating');
            this.$router.push({name:"viewgroup"});
          });
        }
    },
}
</script>

<style scoped>
input[type=text],
input[type=email],
input[type=file],
input[type=date],
textarea[type=text],
button,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
</style>
