<template>
<div class="container mt-5">
    <center>
        <h2>Available Church groups | <u><b><router-link :to="{name: 'addgroup'}">Click to add new group</router-link></b></u></h2>
        <br><br>
       <!-- <form action="">
            <input v-model="message.filterval" v-on:keyup="filter(), (isShowing = true)" type="text" id="search" name="search" placeholder="Search..."><br><br><br>
       </form> -->

        <table>
            <tr>
                <th>#</th>
                <th>Group name</th>
                <th>Action</th>
                              
            </tr>
            <tr v-for="(group,index) in data" :key="group.id">
                <td>{{index +1}}</td>
                <td>{{group.name}}</td>
                <td>
                    <router-link :to="{name: 'editgroup', params: { id: group.id }}" class="btn btn-primary">Edit</router-link>
                </td>
                <td><button class="btn btn-danger" @click.prevent="deletegroup(group.id)">Delete</button></td>
               
            </tr>

        </table>

        
    </center>

</div>
</template>

<script>
export default {
    data() {
        return {
            data: [],
            result2: [],
            message: {},
            isShowing:false
        }
    },
    mounted() {
        this.loaddata();
        console.log(this.data)
    },
    created() {
          this.result2 = this.data;
    },
    methods: {
        loaddata() {
            const token = 'Bearer  ' + localStorage.getItem('token');
            let uri = 'api/allgroups';
            this.axios.get(uri, {
                headers: {
                    Authorization: token
                }
            }).then(response => {
                this.data = response.data.list;

            }).catch(error => {
                if (error.response.status === 401) {
                    this.$router.push({
                        name: 'login'
                    });
                    clearSession();
                } else {
                    this.$notify({
                        group: 'foo',
                        text: 'Could not load data in the table',
                        type: 'error',
                        title: 'Error'
                    });
                }
            });
        },
        deletegroup(id) {
            const token = 'Bearer  ' + localStorage.getItem('token');
            let uri = `api/group/delete/${id}`;
            this.axios.delete(uri, {
                headers: {
                    Authorization: token
                }
            }).then(response => {
                // this.data.splice(this.data, 1);
                this.$notify({
                    group: 'foo',
                    text: response.data.message,
                    type: 'success',
                    title: 'Success!'
                })
                this.loaddata();
            });

        },
    filter() {
      let filterval = this.message.filterval;
      if (filterval === "" || filterval === null) {
        this.data = this.result2;
      } else {
        let data = this.result2.filter(function (product) {
          return (
            product.fname.toLowerCase().includes(filterval.toLowerCase()) ||
            product.lname.toLowerCase().includes(filterval.toLowerCase()) ||
            product.phone.toLowerCase().includes(filterval.toLowerCase()) ||
            product.email.toLowerCase().includes(filterval.toLowerCase()) ||
            product.group.toLowerCase().includes(filterval.toLowerCase())
          );
        }); //which objects do yoi want to filer with?title and intro//lipua tuone
        this.data = data;
      }
      //  return true
    }
    },
}
</script>

<style scoped>
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
img{
border-radius: 100%;
}

tr:hover {
    background-color: #f5f5f5;
}
input[type=text]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
</style>
