<template>
<div>
  <notifications position="middle center" group="foo" />
  <!-- <Nav v-if="!$route.meta.hideNavigation"></Nav>
    <div class="container">
        <router-view></router-view>
    </div> -->
    <authNav></authNav>

    <!-- <router-view></router-view> -->
</div>
</template>

<script>
// import Nav from '../components/nav'
// import noNav from '../components/noNav'
import authNav from '../components/authNav.vue'
export default {
  data() {
    return {
      
    }
  },
  components:{
    // Nav,
    // noNav,
    authNav,
  }
    // watch: {
    //   $route() {
    //     $("#navbarCollapse").collapse("hide");
    //   },
    // },
};
</script>
